<div class="container center">
  <h1 class="flow-text white-text">Personalize your play experience. Update, delete and view your character lists</h1>
</div>

<h1 class="flow-text center white-text">{{username}}'s User Page</h1>

{{#each characters as |character| }}
<div class='row'>
  <div class='col s4 16'>
    <div class='card small'>
      <div class='card-image waves-effect waves-block waves-light'>
        <img class="activator" src={{character.image}}>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{character_name}}<i
            class="material-icons right">more_vert</i></span>
        <p><a>{{character.race}}</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{{character_name}}<i
            class="material-icons right">close</i></span>
        <p>
        <h5>
          Class:
          {{character.class.name}}
        </h5>

        <h5>
          Level:
          <textarea class="materialize-textarea level">
                {{character.level}}
                </textarea>
        </h5>

        <h5>
          Armor:
          <textarea class="materialize-textarea armor">
                {{character.armor}}
                </textarea>
        </h5>

        <h5>
          Speed:
          <textarea class="materialize-textarea speed">
                {{character.speed}}
                </textarea>
        </h5>

        <h5>
          Strength:
          <textarea class="materialize-textarea strength">
                {{character.strength}}
                </textarea>
        </h5>

        <h5>
          Dexterity:
          <textarea class="materialize-textarea dexterity">
                {{character.dexterity}}
                </textarea>
        </h5>

        <h5>
          Constitution:
          <textarea class="materialize-textarea constitution">
                {{character.constitution}}
                </textarea>
        </h5>
        <h5>
          Intelligence:
          <textarea class="materialize-textarea intelligence">
                {{character.intelligence}}
                </textarea>
        </h5>
        <h5>
          Wisdom:
          <textarea class="materialize-textarea wisdom">
                  {{character.wisdom}}
                  </textarea>
        </h5>
        <h5>
          Charisma:
          <textarea class="materialize-textarea charisma">
                {{character.charisma}}
                </textarea>
        </h5>
        <h5>
          Health:
          <textarea class="materialize-textarea health">
                {{character.health}}
                </textarea>
        </h5>
        <p class="center-align">
          <a class="center waves-effect waves-light btn black charUpdate" data-character-id="{{character.id}}">
            <i class="material-icons left">add</i>UPDATE
          </a>
          <a class="waves-effect waves-light btn black charDelete" data-character-id="{{character.id}}">
            <i class="material-icons left">delete_forever</i>DELETE
          </a>
        </p>
      </div>
    </div>

    <div class="card grey lighten-2">
    </div>
  </div>

  {{/each}}
  <script src="./js/profile.js"></script>